<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<%= link_to 'Tasks', part_tasks_path(params[:id]) %> |
<%= link_to 'Comments', task_comments_path(params[:id]) %> |
<%= link_to 'Edit', edit_task_path(@task) %> |
