<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%- if @parts %>
      <% @parts.each do |part| %>
        <tr>
          <td><%= part.name %></td>
          <td><%= link_to 'Show', part_path(part) %></td>
          <td><%= link_to 'Edit', edit_part_path(part) %></td>
          <td><%= link_to 'Destroy', part_path(part), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_job_part_url(params[:job_id]) %>
