<%= link_to 'Jobs', user_jobs_path(current_user) %> |
<%= link_to 'Parts', job_parts_path(@job) %> |
<%= link_to 'Edit', edit_job_path(@job) %> |

<p id="notice"><%= notice %></p>
<h2>Detail about job <i><%= @job.name %></i></h2>
<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>
