<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @item.excerpt %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @item.upvotes %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
