<%= form_with(model: nest, local: true) do |form| %>
  <% if nest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nest.errors.count, "error") %> prohibited this nest from being saved:</h2>

      <ul>
      <% nest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nest %>
    <%= form.text_field :nest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
