<%= form_with(model: best, local: true) do |form| %>
  <% if best.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(best.errors.count, "error") %> prohibited this best from being saved:</h2>

      <ul>
      <% best.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :best %>
    <%= form.text_field :best %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
