<p id="notice"><%= notice %></p>

<h1>Bests</h1>

<table>
  <thead>
    <tr>
      <th>Best</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bests.each do |best| %>
      <tr>
        <td><%= best.best %></td>
        <td><%= link_to 'Show', best %></td>
        <td><%= link_to 'Edit', edit_best_path(best) %></td>
        <td><%= link_to 'Destroy', best, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Best', new_best_path %>
