<!DOCTYPE html>
<html>
  <head>
    <title>MylistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render  template: 'layouts/navs/main' %>
      <%= render  template: 'layouts/navs/user_data' %>
      <%= render  template: 'layouts/navs/session' %>
    </header>
    <div class="previos_data">
      previos
    </div>
    <div class='layout_yeld'>
      <%= yield %>
    </div>
    <div class="next_data">
    next
    </div>
    <footer>
      <p><%= Api::V1::FooterController.date %></p>
    </footer>
  </body>
</html>

