<!DOCTYPE html>
<html>
  <head>
    <title>MylistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render  template: 'layouts/navs/user_data' %>
      <%= render  template: 'layouts/navs/session' %>
      <%= render  template: 'layouts/navs/main' %>
    </header>

    <%- if current_user %>
      <%= render  template: 'layouts/navs/jptc/jptc_collector' %>
    <%- else %>
      <%= render  template: 'layouts/navs/welcome' %>
    <% end %>
    <div class='layout_yeld'>
      <%= yield %>
    </div>
    <footer>
      footer
    </footer>
  </body>
</html>

