<!DOCTYPE html>
<html>
  <head>
    <title>MylistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "This on git", 'https://github.com/keyhit/mylist-back' %>
        <%= render  template: 'layouts/navs/user_data' %>
      </nav>
      <nav>
        <%= render  template: 'layouts/navs/session_nav' %>
        <%= render  template: 'layouts/navs/main' %>
      </nav>
    </header>
      <%= render  template: 'layouts/navs/jptc/jptc_collector' %>
      <div class='layout_yeld'>
        <%= yield %>
      </div>
    <footer>
      footer
    </footer>
  </body>
</html>

