<!DOCTYPE html>
<html>
  <head>
    <title>MylistApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "This on git", 'https://github.com/keyhit/mylist-back' %>
        <%= render  template: 'layouts/navs/user_data' %>
      </nav>
      <nav>
        <%= render  template: 'layouts/navs/session_nav' %>
      </nav>
    </header>
    <div class='navs_jobs'>
      <%= render  template: 'layouts/navs/jobs' %>
    </div>

    <div class='navs_parts'>
      <%= render  template: 'layouts/navs/parts' %>
    </div>

    <div class='navs_tasks'>
      <%= render  template: 'layouts/navs/tasks' %>
    </div>

    <div class='layout_yeld'>
      <%= yield %>
    </div>
    <footer>
      footer
    </footer>
  </body>
</html>

